<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:replace="~{fragments/generals :: resources}"></th:block>
    <title>Document</title>
</head>
<body>
<nav th:replace="~{fragments/generals :: navbar('pizza')}"></nav>
<div class="container">

    <div class="row" th:object="${pizza}">
        <div class="col-4">
            <div class="card">
                <img th:src="*{imgUrl}" style="max-width: 100%">
                <div class="card-body ">
                    <h5 class="card-title" th:text="*{name}"></h5>
                    <p class="card-text" th:text="*{description}"></p>
                    <p class="card-text" th:text="|*{price}€|"></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <a th:href="@{/discount/create(pizza=${pizza.id})}">+</a>
            <ul th:each="discount : *{discountList}" th:object="${discount}">
                <li th:text="*{title}"></li>
                <li><span>Starts in: </span> <span
                        th:text="${#temporals.format(discount.startDate,'dd/MM/yyy')}"></span></li>
                <li><span>Ends in: </span> <span
                        th:text="${#temporals.format(discount.endDate,'dd/MM/yyy')}"></span></li>
            </ul>
        </div>
        <div class="col-4">
            <ul>
                <li th:each="ingredient : *{ingredients}" th:text="${ingredient.name}"></li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>