<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:fragment="resources">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css}"/>
        <script defer src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
    </th:block>

    <title>Document</title>
</head>
<body>
<nav th:fragment="navbar(current)" class="mb-5 mt-3">
    <nav class="navbar navbar-expand bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Home</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/pizza"
                           th:classAppend="${current == 'pizza'} ? active : not-active">Menú</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" method="get" th:action="@{/pizza}">
                    <input class="form-control me-2" name="search" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</nav>
<div class="form-field" th:fragment="field(name,type)">

    <label th:for="${name}" class="form-label" th:text="${name}"></label>
    <input th:attr="type=${type}" class="form-control" th:id="${name}" th:field="*{__${name}__}"
           th:errorClass="is-invalid">
    <div class="invalid-feedback" th:if="${#fields.hasErrors('__${name}__')}">
        <ul>
            <li th:each="err : ${#fields.errors('__${name}__')}" th:text="${err}"></li>
        </ul>
    </div>
</div>
<div class="form-field" th:fragment="fieldNumber(name)">

    <label th:for="${name}" class="form-label" th:text="${name}"></label>
    <input type="number" step="0.01" class="form-control" th:id="${name}" th:field="*{__${name}__}"
           th:errorClass="is-invalid">
    <div class="invalid-feedback" th:if="${#fields.hasErrors('__${name}__')}">
        <ul>
            <li th:each="err : ${#fields.errors('__${name}__')}" th:text="${err}"></li>
        </ul>
    </div>
</div>
</body>
</html>